  body{
      color:white;
      font-size:3vw;
    }
    #parent{
      border-style:border-box;
      margin-left:3%;
      margin-right:2%;
    }
    #d2{
      position:absolute;
      top: 25%;
    left: 25%;
    border-style:border-box;
animation-name:move;
animation-duration:1s;
    }
#d1{animation-name:move;
animation-duration:1s;}
@keyframes move{
0%{
transform:translateX(1500px);
}
100%{
transform:translateX(0px);
}
}

#d4:hover{
      font-size:2.5vw;

    }
    #d3:hover{
      font-size:2.5vw;
    }
    #d5:hover{
      font-size:2.5vw;
    }

#d3{color:white;
      background-color:#ff5722;
      padding:1.75%;
      border-style:border-box;
	animation-name:arrival;
      animation-duration: 2s;
    }
    #d4{color:white;
      animation-name:arrival;
      animation-duration: 3s;
    }
    #d5{color:white;
      animation-name:arrival;
      animation-duration: 4s;
    }
@keyframes arrival {
  0%{
    transform:translateX(-800px);
  }
  100%{
    transform:translateX(0px);
  }

}
